<section>
	<header>
	{{outlet header}}
		{{view BooksApp.NavigationView}}
		
		<div class="searchBox">
	        {{#view BooksApp.SearchVolumeView placeholder="search"}}
				<a class="gbqfb button" id="searchButton" {{action "search" target="view"}}>
					<span class="gbqfi"></span>
				</a>
			{{/view}}
			
		</div>
	</header>
	<nav>
	</nav>
	<div class="main-container">
		<div class="left-container">
			{{outlet left}}
		</div>
		<div class="center-container">
			{{outlet center}}
		</div>
	</div>
	<footer>
			{{outlet footer}}
	</footer>
</section>