<section>
	<header>
	{{outlet header}}
		{{view BooksApp.NavigationView}}
	</header>
	<nav>
	</nav>
	<div class="main-container">
		<div class="left-container">
			{{outlet left}}
		</div>
		<div class="center-container">
			{{outlet center}}
		</div>
	</div>
	<footer>
			{{outlet footer}}
	</footer>
</section>