<tr id="main--{{unbound volumeInfo.id}}"
	class="gb-bookshelf-ordering-holder gb-bookshelf-standard-manage">
	<td>
		<table class="gb-bookshelf-table-container ">
			<tbody>
				<tr>
					<td valign="top" align="center"
						class="coverwrapper gb-bookshelf-hover-card"><a href="#">
							{{#if volumeInfo.imageLinks.maxSizeImage}} <img border="0"
							class="coverthumb hover-card-attach-point"
							src={{unbound volumeInfo.imageLinks.maxSizeImage}}
							title={{unbound volumeInfo.title}}
							alt={{volumeInfo.title}}> 
							{{/if}}
					</a></td>
					<td>
						<div class="rsi">
							<div>
								<div>
									<h2 class="resbdy">
										<span dir="ltr"
											class="gb-volume-title">{{unbound volumeInfo.title}}</span>&lrm;</a>
									</h2>
								</div>
							</div>
							<div class="gb-text-content">
								<div style="line-height: 1.2em; font-size: small">
									<span class="gb-gray-author"><a class="link_aux"
											href="#"><span
												dir="ltr">{{unbound volumeInfo.authors}}</span></a>
										<span style="color: #676767"> - Published: - {{volumeInfo.publishedDate}} -</span>
									</span> 
									{{#if volumeInfo.description}}
										<h2 dir="ltr" class="snippet sa">Description</h2>
										<div dir="ltr" class="snippet sa">{{volumeInfo.unescapedDescription}}</div>
									{{/if}}
									{{#if volumeInfo.pages}}
										<div dir="ltr" class="snippet sa">pages: {{volumeInfo.pages}}</div>
									{{/if}}
									{{#if volumeInfo.publisher}}
										<div dir="ltr" class="snippet sa">publisher: {{volumeInfo.publisher}}</div>
									{{/if}}
									{{#if volumeInfo.industryIdentifiers}}
										{{#each isbn in volumeInfo.industryIdentifiers}}
											<div dir="ltr" class="snippet sa">{{isbn.type}}: {{isbn.identifier}}</div>
										{{/each}}
									{{/if}}
									{{#if path}}
										<div dir="ltr" class="openBook"><a href="#" {{action openPdf volumeInfo target="controller" }}>Open Book</a></div>
									{{/if}}
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>