<tr id="main--{{unbound id}}"
	class="gb-bookshelf-ordering-holder gb-bookshelf-standard-manage">
	<td>
		<table class="gb-bookshelf-table-container ">
			<tbody>
				<tr>
					<td valign="top" align="center"
						class="coverwrapper gb-bookshelf-hover-card"><a href="">
							{{#if imageLinks.maxSizeImage}} <img border="0"
							src={{unbound imageLinks.maxSizeImage}}
							title={{unbound title}}
							class="coverthumb hover-card-attach-point"
							alt={{title}}> {{/if}}
					</a></td>
					<td>
						<div class="rsi">
							<div>
								<div>
									<h2 class="resbdy">
										<span dir="ltr"
											class="gb-volume-title">{{unbound
												title}}</span>&lrm;</a>
									</h2>
								</div>
							</div>
							<div class="gb-text-content">
								<div style="line-height: 1.2em; font-size: small">
									<span class="gb-gray-author"><a class="link_aux"
											href="http://www.google.com.ar/search?tbo=p&amp;tbm=bks&amp;q=inauthor:%22Filippo+di+Pisa%22"><span
												dir="ltr">{{unbound authors}}</span></a>
										<span style="color: #676767"> - Published: - {{publishedDate}} -</span>
									</span> 
									{{#if description}}
										<h2 dir="ltr" class="snippet sa">Description</h2>
										<div dir="ltr" class="snippet sa">{{unescapedDescription}}</div>
									{{/if}}
									{{#if pages}}
										<div dir="ltr" class="snippet sa">pages: {{pages}}</div>
									{{/if}}
									{{#if publisher}}
										<div dir="ltr" class="snippet sa">publisher: {{publisher}}</div>
									{{/if}}
									{{#if industryIdentifiers}}
										{{#each isbn in industryIdentifiers}}
											<div dir="ltr" class="snippet sa">{{isbn.type}}: {{isbn.identifier}}</div>
										{{/each}}
									{{/if}}
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>