{{#if files}}
<form action="processFilesTemplate_submit" method="get" accept-charset="utf-8">
  <table class="table table-hover table-bordered">
    <caption>Files Process</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>File Name</th>
        <th>Size</th>
        <th>Progress</th>
        <th>Identified</th>
      </tr>
    </thead>
    <tbody>
      {{#each file in files}}
      <tr>
        <td>{{file.order}}</td>
        <td>{{file.name}}</td>
        <td>{{file.size}}</td>
        <td>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 40%;"></div>
          </div>
        </td>
        <td>{{file.identified}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="btn-toolbar" style="margin: 0;">
      <button class="btn btn-primary" type="button">Process</button>
      <button class="btn btn-danger " type="button" {{action "clearListFile"}}>Clear List</button>
  </div>
</form>

{{/if}}