<div id="main--{{unbound volume.id}}" class="volume-info">
	{{#if volume.volumeInfo.imageLinks.thumbnail}} 
	<div class="volume-image-thumb">
		<a href="">
			<img border="0"
			src={{unbound volume.volumeInfo.imageLinks.thumbnail}} {{action
				showVolumeInfo volume target="controller"}} title=
				volume.volumeInfo.title}} class="coverthumb hover-card-attach-point"
				alt={{unboundvolume.volumeInfo.title}}
			</a>
	</div>
	{{/if}}
	<div class="volume-info-data">
		<div class="volume-info-title">
			<h2>
				<a href="#" {{action showVolumeInfo volume target="controller"}}><span
					dir="ltr" class="gb-volume-title">{{unbound
						volume.volumeInfo.title}}</span>&lrm;</a>
			</h2>
		</div>
		<div class="volume-info-content">
			<div>
				<span class="volume-info-author">
					<span style="color: #676767">
						<a href="#">
						   <span dir="ltr">{{unbound volume.volumeInfo.authors}}</span>
						</a> 
						- {{volume.volumeInfo.publishedDate}} -
					</span>
				</span> 
				{{#if volume.volumeInfo.description}}
				<div>
					<div class="more-less">
						<div dir="ltr" class="snippet sa more-block">
							<p>{{volume.volumeInfo.unescapedDescription}}</p>
						</div>
					</div>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>